:root {
    --number: 16;
}

.container {
  
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
}

.container > div {
  outline: 1px solid #d4d4d4;
  flex: 1;
  min-width: calc(100% / var(--number));
  aspect-ratio: 1 / 1;
  transition:20s;
}
.container > div:hover{
    transition:.1s;
    background-color:black;
}
button {
  margin-bottom: 1rem;
}